<div class="row">
    <div class="col-sm-6 offset-sm-3">
        
        <%= form_with(model: mutalk) do |f| %>
            <% if mutalk.errors.any? %>
              <div id="error_explanation">
                  <ul>
                      <% mutalk.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                  </ul>
              </div>
            <% end %>  
        
                  <div class="mb-3 mt-3">
                    <%= f.label :title, "タイトル" %>
                    <%= f.text_field :title, class: "form-control" %>
                  </div>  
                    
                  <div class="mb-3">  
                    <%= f.label :content, "本文" %>
                    <%= f.text_area :content, class: "form-control", rows: 5 %>
                  </div>  
                    
                  <div class="mb-3">  
                    <%= f.submit "投稿", class: "btn btn-primary" %>
                  </div>  
              
        <% end %>
            
            <div class="mt-5">
            <%= link_to "一覧に戻る", top_path, class: "btn btn-outline-dark btn-sm" %>
            </div>
    </div>
</div>