<div class="text-center">
    <h1>アカウントログイン</h1>
</div>
<% if flash[:danger] %>
     <div class="alert alert-danger" alert-dismissible fade show" rore="alert">
       <%= flash[:danger] %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
     </div>
<% end %>

<div class="row">
  <div class="col-sm-6 offset-sm-3">    
    
    <%= form_with(url: login_path, scope: :session) do |f| %>
    
        <div class="mb-3 mt-3">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: "form-control" %>
        </div>
        
        <div class="mb-4">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class: "form-control" %>
        </div>
        
        <div class="mb-3">
            <%= f.submit "ログイン", class: "btn btn-primary w-100" %>
         </div>    
            <p>登録はまだですか？<br>
            <%= link_to "はじめての方はこちら", signup_path %></p>
    
    <% end %>
    
    
  </div>  
</div>