<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Mutowns</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body data-turbolinks="false">  <!-- body内のページ遷移高速化の無効化 -->
    <%= render "layouts/navbar" %>  <!-- サイト上部にあるナビバーをrenderで呼び出している -->
    
    <div class="container">
      <% render "layouts/flash_messages" %>  <!-- ログインしました等のメッセージ表示の事 -->
      
      <%= yield %>
    </div>
    
  </body>
</html>
